Package: enigma2-plugin-skins-hdnano
Version: 1.0
Description: HD Skin Vali.HD.nano
Section: skins
Priority: optional
Maintainer: XXX
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
