Package: enigma2-plugin-skins-blackmodernpli
Version: 1.0
Description: HD Skin BlackModern
Section: skins
Priority: optional
Maintainer: xxx
Architecture: all
Depends: fontpack1,skinspicon2
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
