Package: enigma2-plugin-skins-stargate
Version: 1.0
Description: Mirco-Stargate-Edition-HD Skin
Section: skins
Priority: optional
Maintainer: xxx
Architecture: sh4
Depends: skinpythonmvm
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
