Package: enigma2-plugin-skins-revolutionsilver
Version: 1.0
Description: HD Skin RevolutionSilver
Section: skins
Priority: optional
Maintainer: xxx
Architecture: all
Depends: revolutionpack
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
