Package: enigma2-plugin-skins-blackbeauty-hd-mirco-standard
Version: 1.00
Description: HD Skin BlackBeauty HD Mirco Standard
Section: skins
Priority: optional
Maintainer: XXX
Architecture: all
Depends: skinpythonmvm
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
