Package: enigma2-plugin-skins-merdasred
Version: 1.0
Description: Merdas-HD RED Skin V9
Section: skins
Priority: optional
Maintainer: xxx
Architecture: all
Depends: merdas
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
