Package: nhdpack
Version: 0.1
Description: nhdpack
Section: system
Priority: optional
Maintainer: macbest
Architecture: sh4
OE: HDMU
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com