Package: metrixhd
Version: 0.1
Description: metrixhd
Section: system
Priority: optional
Maintainer: suchmich1983
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
