Package: enigma2-plugin-vfdskins
Version: 1.1.3
Description: oled skins lx3 mutant nemesis
Section: vfdskins
Priority: optional
Maintainer: xxx
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
