Package: enigma2-plugin-skins-kravenhd
Version: 5.4.9.1
Description: HD Skin KravenHD
Section: skins
Priority: optional
Maintainer: xxx
Architecture: all
Depends: infos-weatherplugin, infos-weathercomponent, system-weathercomponenthandler, system-numberzapext
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
