Package: enigma2-plugin-skins-kernihd1r2
Version: 1.00
Description: HD Skin Kerni HD1R2
Section: skins
Priority: optional
Maintainer: XXX
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
