Package: enigma2-plugin-skins-ai.hd
Version: 6.05
Description: HD Skin Ai.hd
Section: skins
Priority: optional
Maintainer: XXX
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
