Package: enigma2-plugin-skins-nogfxblue
Version: 2.0
Description: HD Skin NoGfxBlue v2
Section: skins
Priority: optional
Maintainer: xcodex
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
