Package: enigma2-plugin-skins-ghosthd
Version: 1.00
Description: HD Skin Ghost HD
Section: skins
Priority: optional
Maintainer: XXX
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
