Package: revolutionpack
Version: 1.0
Description: revolutionpack
Section: system
Priority: optional
Maintainer: macbest
Architecture: all
Depends: skinspicon2
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
