Package: enigma2-plugin-skins-metrixhdmodcyan
Version: 1.0
Description: HD Skin MetrixModCyan
Section: skins
Priority: optional
Maintainer: xxx
Architecture: sh4
OE: HD Skin MetrixModCyan
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
