Package: skinspicon2
Version: 1.0
Description: skinspicon2
Section: system
Priority: optional
Maintainer: xxx
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
