Package: enigma2-plugin-skins-nobile
Version: 0.26
Description: HD Skin Nobile
Section: skins
Priority: optional
Maintainer: xxx
Architecture: all
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
