Package: enigma2-plugin-skins-xcodex.hd
Version: 1.0
Description: xcodex hd skin
Section: skins
Priority: optional
Maintainer: xcodex
Architecture: sh4
Homepage: http://www.hdmedia-universe.com
Source: http://www.hdmedia-universe.com
